body {
  margin: 0;
  background-image: url("./img/Fundosuiça.avif");

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;

  min-height: 100vh;
  padding-bottom: 50px;
}

.topo {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 40px 0;
  gap: 30px;
}

.menu-paises {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 40px 0;
  gap: 30px;
}

.container {
  position: relative;
  width: 650px;
  margin-top: 20px;
}

.container img {
  width: 100%;
  display: block;
  border-radius: 15px;
  transition: transform 0.3s ease;
}

.container:hover img {
  transform: scale(1.02);
}

.overlay {
  position: absolute;
  top: 20px;
  left: 20px;
  display: flex;
  align-items: center;
  gap: 15px;
  background: rgba(0, 0, 0, 0.7);
  padding: 10px 20px;
  border-radius: 10px;
  color: white;
  font-size: 30px;
  font-family: Arial;
  font-weight: bold;
  z-index: 5;
}

.flag {
  width: 40px;
  height: auto;
  border-radius: 4px;
}

.info-card {
  background: #2c3e50;
  width: 90%;
  max-width: 540px;
  padding: 30px;
  margin: -60px auto 0 auto;
  position: relative;
  z-index: 10;
  border-radius: 20px;
  box-shadow: 0 15px 35px rgba(0, 0, 0, 0.4);
}

.info-card p {
  text-align: justify;
  margin: 0;
  color: #ffffff;
  line-height: 1.6;
  font-family: Arial, sans-serif;
}

.btn-voltar,
.pais {
  text-decoration: none;
  color: white;
  font-family: Arial;
  font-size: 16px;
  font-weight: bold;
  transition: 0.3s;
  border-radius: 10px;
}

.btn-voltar {
  background: #2563eb;
  padding: 12px 22px;
}

.pais {
  background: #374151;
  padding: 12px 20px;
}

.btn-voltar:hover,
.pais:hover {
  filter: brightness(1.2);
  transform: translateY(-2px);
}
.paisagem h1 {
  font-family: Arial, sans-serif;
  color: #ffffff;
  margin: 20px 0;
  text-align: center;
}
.paisagem img {
  width: 100%;
  max-width: 600px;
  margin: 10px auto;
  display: grid;
  border-radius: 15px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
}
.grade-fotos {
  display: grid;
  grid-template-columns: 2fr 2fr;
  gap: 15px;
  padding: 15px;
  width: 100%;
}

.grade-fotos img {
  width: 100%;
  height: 200px;
  border-radius: 10px;
  transition: 0.3s;
}

.grade-fotos img:hover {
  transform: scale(1.05);
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.4);
}

.grade-fotos img:active {
  transform: scale(1.5);
  z-index: 500;
  left: 25%;
  width: 50vw;
  height: auto;
  box-shadow: 0 0 100px rgba(0, 0, 0, 0.8);
  position: static;
}
.rodape {
  width: 100%;
  background-color: #161b22;
  color: #8b949e;
  padding: 30px 0;
  margin-top: 50px;
  border-top: 1px solid #30363d;
  font-family: Arial, sans-serif;
  border-radius: 20px;
}

.rodape-conteúdo {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  border-radius: 30px;
}

.redes-sociais {
  display: flex;
  gap: 20px;
  font-size: 14px;
  border-radius: 30px;
}

.redes-sociais span {
  cursor: pointer;
  transition: color 0.3s;
}

.redes-sociais span:hover {
  color: #2563eb;
}
