body {
    font-family:Arial, Helvetica, sans-serif;
    background-color: #000dc2c9;
    padding:0px;
    margin: 0px;
    color: #ffffff;
    overflow-x: hidden;
}

header {
    background-color: #eaeaff;
    padding: 20px;
    text-align: center;
}

h1 {
    color: #2c3e50;
}


img {
background-position: center;
image-rendering: -webkit-optimize-contrast;
}

a {
    color: #030303;
    text-decoration: none;
    font-weight: bold;
}

li {
    margin: 10px 0;
    color: #ffffff;
    list-style-type: none;
}

hr {
  padding: 0px;
  margin: 0px;
}

.hero-container {
    position: relative; 
    width: 100%;
}

.hero-container img {
    width: 100%;
    display: block; 
}

.JP_foto_1 {
background-image: url('../Images/Japao_image_1.jpg');
    background-size: cover;      
    background-position: center; 
    height: 500px;      
    width: 100%;         
    display: flex;               
    align-items: center;         
    justify-content: center;
}

.overlay-texto {
    position: absolute; 
    top: 13%;           
    left: 50%;          
    transform: translate(-50%, -50%); 
    font-size: 9px;
    width: 100%;         
    padding: 5px;
    padding-left: 800px;
    
   
    background-color: rgba(255, 255, 255, 0.5); 
    
    backdrop-filter: blur(5px); /* Efeito de vidro embaçado (opcional) */
}


.Introdução_JP {
    padding: 20px;
    color: #ffffff;
    max-width: 450px;
    margin: 0;
    font-size: larger;
}

.Introducao {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 300px;
    padding: 40px;
}

.Introducao img {
  width: 400px;
  height: auto;
  border-radius: 5px;
}


.Segundo_paragrafo {
  text-align: center;
  padding: 20px;
  background-color: royalblue;
  margin: 20px;
  border-radius: 10px;
  max-width: 600px;
  margin: 0 auto;
  font-size: 25px;
}

.EntreLinhas {
  background-image: url('../Images/Fundo_JP_1.avif');
  background-size: cover;
  padding: 25px;
}

.Especial {
  text-align: center;
  font-size: 30px;
}

.Colunas {
  display: flex;
  justify-content: center; /* Centraliza a lista dentro da div roxa */
  margin: 0px;
}



.Colunas ul {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, auto);
  gap: 15px; 
  justify-content: center;
  list-style: none; 
  width: 100%;
  padding: 0;
  margin: 0;
}

.Colunas img {
  width: 450px;         
  height: auto;        
  object-fit: cover;
  aspect-ratio: 1 / 1;
  display: block;
}

footer {
    background-color: #ffffff;
    color: black;
    text-align: center;
}
